<section class="py-20 md:py-35">
	<div class="container-base flex max-xl:flex-col items-start justify-between gap-7.5">
		<div class="grid gap-7.5 lg:gap-17.5 xl:max-w-[555px] shrink-0">
			<h2>Почему именно <mark>экстракт плюща?</mark></h2>

			<div class="grid gap-5 lg:gap-7.5">
				<p class="typography-h6">Расширяет бронхи</p>
				<hr class="border-green-light m-0" />
				<p class="typography-h6">Разжижает и выводит мокроту</p>
				<hr class="border-green-light m-0" />
				<p class="typography-h6">Входит в Клинические рекомендации по лечению бронхита*</p>
			</div>
		</div>

		<video class="video-loop xl:max-w-[985px] min-w-0 shrink" muted loop playsinline data-video-loop>
			<source src="assets/video/gedelix-slowmo.mp4" type="video/mp4" />
		</video>
	</div>
</section>