<section class="py-20 md:py-35 bg-white">
	<div class="container-base flex max-xl:flex-col items-start justify-between gap-7.5">
		<div class="max-w-[555px] shrink-0 mx-auto sticky top-30">
			<img src="assets/img/content/faq-woman.avif" width="1114" height="1360" loading="lazy" alt="Геделикс® — приём сиропа">
		</div>
		<div class="grid gap-3.75 xl:max-w-[985px] min-w-0 shrink" data-spoiler data-spoiler-accordion>
			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">От какого кашля помогает Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Подходит ли Геделикс<sup>®</sup> при беременности и грудном вскармливании?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Препарат Геделикс® не рекомендуется применять при беременности и в период грудного
						вскармливания. Перед применением необходимо проконсультироваться с лечащим врачом.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">С какого возраста можно применять Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® можно применять в возрасте от 2х лет. Сиропы и капли Геделикс® имеют высокий
						профиль безопасности, не содержат сахара, спирта и красителей.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Помогает ли Геделикс<sup>®</sup> при простуде, гриппе и ангине?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® обладает отхаркивающим действием, расширяет бронхи, обеспечивая лучшее
						отхождение секрета из дыхательных путей при кашле при различных респираторных
						заболеваниях. Для уточнения диагноза, обследования и назначения полного спектра терапии
						необходимо обратиться к своему лечащему врачу.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Эффективен ли Геделикс<sup>®</sup> при мокроте?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Препарат Геделикс® обеспечивает разжижение мокроты, облегчает ее отделение и выведение,
						расширяет бронхи. При ухудшении состояния и неэффективности терапии необходимо срочно
						обратиться к лечащему врачу для уточнения диагноза и коррекции терапии.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Какие противопоказания у Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<div class="faq-item-answer grid gap-2.5">
						<p class="typography-p text-gray">
							Согласно инструкции по медицинскому применению, противопоказания Геделикс®:
						</p>
						<ul class="typography-p text-gray grid gap-1.5 list-disc list-inside">
							<li>аллергия на действующее вещество или любые другие компоненты препарата;</li>
							<li>
								с осторожностью при недостаточности фермента аргининсукцинат-синтетазы: обратитесь к
								лечащему врачу перед приемом данного лекарственного препарата;
							</li>
							<li>бронхиальная астма;</li>
							<li>если есть предрасположенность к ларингоспазму;</li>
							<li>детский возраст до 2 лет.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Можно ли применять Геделикс<sup>®</sup> при сахарном диабете?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<div class="faq-item-answer grid gap-2.5">
						<p class="typography-p text-gray">Да, подходящей формой выпуска будут Геделикс® капли.</p>
						<p class="typography-p text-gray">
							При приеме сиропа Геделикс® учитывайте, что 5 миллилитров препарата содержат 1,75 г
							сорбитола (соответствует 0,44 г фруктозы), что соответствует 0,15 хлебных единиц.
						</p>
					</div>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">В чем отличие препарата Геделикс<sup>®</sup> в каплях и сиропе?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<div class="faq-item-answer grid gap-2.5">
						<p class="typography-p text-gray">
							В отличие от сиропа, капли — более концентрированная форма выпуска. Количество
							сапонинов плюща в них в 5 раз больше, чем в сиропе. То есть один 50 мл флакончик
							капель по концентрации действующего вещества можно сравнить с 250 мл сиропа — это 2,5
							упаковки.
						</p>
						<p class="typography-p text-gray">
							Именно по этой причине Геделикс® в каплях чаще назначают для лечения кашля у взрослых.
							Но надо отметить, что в составе капель также нет ни сахара, ни спирта, ни
							консервантов. Поэтому эта лекарственная форма вполне подходит и для лечения детей от
							2-х лет. Подобную инструкцию с дозировкой препарата для взрослых и маленьких пациентов
							можно скачать в разделе «<a class="link" href="#">Инструкции</a>».
						</p>
					</div>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Есть ли в сиропе Геделикс<sup>®</sup> спирт?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">Нет, сиропы Геделикс® не содержат спирта.</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">В чем еще разница у Геделикс<sup>®</sup> Сиропа 100 и 200 мл?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<div class="faq-item-answer grid gap-2.5">
						<p class="typography-p text-gray">
							Геделикс® Сироп 100 мл — это базовая популярная форма выпуска, которой хватит на один
							курс. К флакону прилагается ложечка для удобства использования.
						</p>
						<p class="typography-p text-gray">
							Геделикс® Сироп 200 мл подходит для семейного формата использования, в комплекте вы
							найдете мерный шприц для точного дозирования препарата каждому члену семьи, и особенно
							это удобно для маленьких детей.
						</p>
					</div>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Как действует препарат Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® оказывает муколитическое, отхаркивающее и бронхолитическое действие. Разжижает
						вязкую мокроту, облегчает ее выведение и смягчает кашель.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">С какими препаратами несовместим Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® нельзя применять одновременно с противокашлевыми препаратами. Они препятствуют
						выведению мокроты.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>