<section class="py-20 md:py-35 bg-white">
	<div class="container-base flex max-xl:flex-col items-start justify-between gap-7.5">
		<div class="max-w-[555px] shrink-0 mx-auto">
			<img src="assets/img/content/faq-woman.avif" width="1114" height="1360" loading="lazy" alt="Геделикс® — приём сиропа">
		</div>
		<div class="grid gap-3.75 xl:max-w-[985px] min-w-0 shrink" data-spoiler data-spoiler-accordion>
			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">От какого кашля помогает Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Подходит ли Геделикс<sup>®</sup> при беременности и грудном вскармливании?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">С какого возраста можно применять Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Помогает ли Геделикс<sup>®</sup> при простуде, гриппе и ангине?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Эффективен ли Геделикс<sup>®</sup> при мокроте?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Какие противопоказания у Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Можно ли применять Геделикс<sup>®</sup> при сахарном диабете?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">В чем отличие препарата Геделикс<sup>®</sup> в каплях и сиропе?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Есть ли в сиропе Геделикс<sup>®</sup> спирт?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">В чем еще разница у Геделикс<sup>®</sup> Сиропа 100 и 200 мл?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">Как действует препарат Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>

			<div class="faq-item" data-spoiler-item aria-expanded="false">
				<button type="button" class="faq-item-button" data-spoiler-button>
					<span class="typography-h6">С какими препаратами несовместим Геделикс<sup>®</sup>?</span>
					<span class="faq-item-icon">
						<svg>
							<use href="assets/img/svg/sprite.svg#icon-add"></use>
						</svg>
					</span>
				</button>
				<div class="faq-item-content" data-spoiler-content>
					<p class="faq-item-answer typography-p text-gray">
						Геделикс® помогает от влажного кашля в качестве отхаркивающего при
						инфекционно-воспалительных заболеваниях верхних дыхательных путей и бронхов,
						сопровождающихся кашлем с трудно отделяемой мокротой.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>