<!-- header -->
<header class="relative @@if (white) { bg-white }">
	<div class="py-5 md:py-6">
		<div class="container-base flex items-center justify-between gap-3 md:gap-10">
			<a class="text-green-dark shrink-0 text-[20px] md:text-[34px] font-bold" href="index.html">
				Геделикс<sup class="text-h5 inline-block translate-y-2">®</sup>
			</a>

			<nav class="max-md:hidden">
				<ul class="flex items-center gap-x-9.25 flex-wrap justify-center">
					<li class="group relative">
						<button type="button" class="link menu-item typography-psm whitespace-nowrap">
							Препараты
							<svg>
								<use href="assets/img/svg/sprite.svg#icon-chevron-menu"></use>
							</svg>
						</button>
						<ul class="menu-dropdown">
							<li><a class="link typography-p" href="#">Геделикс® Сироп 100 мл</a></li>
							<li><a class="link typography-p" href="#">Геделикс® Сироп 200 мл</a></li>
							<li><a class="link typography-p" href="#">Геделикс® Капли 50 мл</a></li>
						</ul>
					</li>
					<li class="group relative">
						<button type="button" class="link menu-item typography-psm whitespace-nowrap">
							Инструкция
							<svg>
								<use href="assets/img/svg/sprite.svg#icon-chevron-menu"></use>
							</svg>
						</button>
						<ul class="menu-dropdown">
							<!-- TODO: плейсхолдеры — заменить на реальные пункты инструкции -->
							<li><a class="link typography-p" href="#">Ссылка 1</a></li>
							<li><a class="link typography-p" href="#">Ссылка 2</a></li>
							<li><a class="link typography-p" href="#">Ссылка 3</a></li>
						</ul>
					</li>
					<li>
						<a class="link typography-psm whitespace-nowrap" href="#">Полезно знать</a>
					</li>
				</ul>
			</nav>

			<div class="flex items-center gap-2.5">
				<a class="btn btn-white btn-small whitespace-nowrap max-xl:hidden" href="#">Для врачей</a>
				<a class="btn btn-green btn-small whitespace-nowrap" href="#">
					Где купить
					<svg class="size-6 shrink-0">
						<use href="assets/img/svg/sprite.svg#icon-location"></use>
					</svg>
				</a>
				<button type="button" class="btn btn-circle btn-small btn-white" data-menu-icon aria-label="Открыть меню">
					<svg class="size-4.5">
						<use href="assets/img/svg/sprite.svg#icon-menu"></use>
					</svg>
				</button>
			</div>

		</div>
	</div>

	@@include('./_mobile-menu.html')
</header>