<section class="bg-green-lightest overflow-x-hidden">
	<div class="relative" data-slider="main">
		<div class="flex">
			<!-- Слайд 1 -->
			<div class="min-w-0 shrink-0 basis-full">
				<div class="container-base grid gap-10 py-15 md:gap-12.5 md:py-20 lg:min-h-165 lg:content-center lg:py-25 relative">
					<div class="grid gap-7.5 md:gap-10 max-w-[1000px]">
						<h2 class="typography-h1 text-green-dark grid gap-5">
							<span>Кашля больше не боюсь,</span>
							<p class="typography-display text-green block">Геделиксом<sup>®</sup> <br> я лечусь!</p>
						</h2>
						<a class="btn btn-dark btn-arrow justify-self-start" href="#">
							Выбрать препарат
							<div>
								<svg class="size-5 md:size-6">
									<use href="assets/img/svg/sprite.svg#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="absolute inset-y-0 right-0">
						<img class="h-full w-auto object-contain" src="assets/img/content/hero-photo.avif" width="1274" height="1235" alt="Мама даёт Геделикс® дочке" loading="lazy" />
					</div>
				</div>
			</div>

			<!-- Слайд 2 — заглушка, второго слайда в макете нет -->
			<div class="relative min-w-0 shrink-0 basis-full">
				<div class="container-base grid gap-10 py-15 md:gap-12.5 md:py-20 lg:min-h-165 lg:content-center lg:py-25">
					<div class="grid gap-7.5 md:gap-10 max-w-[1000px]">
						<h1 class="text-green-dark">
							Второй слайд — заглушка,
							<span class="typography-display text-green block">контент</span>
							<span class="typography-display text-green block">появится позже</span>
						</h1>
						<a class="btn btn-dark btn-arrow justify-self-start" href="#">
							Текст кнопки
							<div>
								<svg class="size-5 md:size-6">
									<use href="assets/img/svg/sprite.svg#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
					</div>
				</div>
			</div>

		</div>

		<!-- стрелки + пагинация: выведены без позиционирования, расположение — вручную -->

		<div class="flex items-center gap-2.5 justify-between absolute top-1/2 -translate-y-1/2 left-0 w-full p-5">
			<button type="button" class="slider-arrow" data-prev="main" aria-label="Предыдущий слайд">
				<svg class="rotate-180">
					<use href="assets/img/svg/sprite.svg#icon-arrow-right"></use>
				</svg>
			</button>
			<button type="button" class="slider-arrow" data-next="main" aria-label="Следующий слайд">
				<svg>
					<use href="assets/img/svg/sprite.svg#icon-arrow-right"></use>
				</svg>
			</button>
		</div>


		<div class="scroll absolute bottom-10 left-1/2 -translate-1/2 data-hidden:hidden" data-paggination="main"></div>
	</div>
</section>