<section class="bg-green-lightest overflow-x-hidden">
	<div class="relative" data-slider="main">
		<div class="flex">
			<!-- Слайд 1 -->
			<div class="min-w-0 shrink-0 basis-full overflow-hidden">
				<div class="container-base grid lg:content-center max-lg:pb-0! relative 3xl:min-h-[835px] h-full">
					<div class="grid gap-7.5 lg:gap-10 lg:max-w-[55%] relative z-1 py-10 md:py-20 content-start">
						<h1 class="text-green-dark grid gap-5">
							<span>Кашля больше не боюсь,</span>
							<p class="typography-display text-green block">Геделиксом<sup>®</sup> <br class="max-lg:hidden"> я лечусь!</p>
						</h1>
						<a class="btn btn-dark btn-arrow justify-self-start" href="product.html">
							Выбрать препарат
							<div>
								<svg class="size-5 lg:size-6">
									<use href="assets/img/svg/sprite.svg#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="lg:absolute inset-y-0 right-0 lg:w-1/2 flex justify-end bottom-0 h-full">
						<div class="absolute w-[1350px] h-[822px] bg-white rounded-[100%] top-[60%] lg:top-[10%] left-[40%]"></div>
						<img class="absolute w-[2000px] lg:w-[3417px] lg:top-[-350px] -left-5 max-w-none" src="assets/img/svg/deco-2.svg" alt="deco">
						<img class="absolute w-[1200px] lg:w-[2333px] lg:top-[130px] left-[-100px] max-w-none" src="assets/img/svg/deco-3.svg" alt="deco">
						<img class="relative h-full w-auto object-contain object-bottom lg:translate-y-[50px]" src="assets/img/content/hero-photo.avif" width="1274" height="1235" alt="Мама даёт Геделикс® дочке" loading="lazy" />
					</div>
				</div>
			</div>

			<!-- Слайд 2 -->
			<div class="min-w-0 shrink-0 basis-full overflow-hidden">
				<div class="container-base grid lg:content-center max-lg:pb-0! relative 3xl:min-h-[835px] h-full content-start max-md:gap-7.5">
					<div class="grid gap-7.5 lg:gap-10 lg:max-w-[55%] relative z-1 py-10 md:py-20 content-start max-md:pb-0!">
						<div class="grid lg:gap-6.5 gap-3.75">
							<p class="typography-h4">Отхаркивающее средство растительного происхождения</p>
						</div>
						<a class="btn btn-dark btn-arrow justify-self-start" href="product.html">
							Выбрать препарат
							<div>
								<svg class="size-5 lg:size-6">
									<use href="assets/img/svg/sprite.svg#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="lg:absolute inset-y-0 right-0">
						<!-- <div class="absolute w-[1350px] h-[822px] bg-white rounded-[100%] top-[60%] lg:top-[10%] left-[40%]"></div> -->
						<img class="absolute w-[2000px] lg:w-[3417px] lg:top-[-350px] top-0 -left-5 max-w-none" src="assets/img/svg/deco-2.svg" alt="deco">
						<!-- <img class="absolute w-[1200px] lg:w-[2333px] lg:top-[130px] left-[-100px] max-w-none" src="assets/img/svg/deco-3.svg" alt="deco"> -->
						<img class="relative h-full w-auto object-contain -translate-x-5 lg:translate-x-[200px]" src="assets/img/content/hero-photo-2.avif" width="1274" height="1235" alt="Геделикс®" loading="lazy" />
					</div>
					<div class="flex gap-x-3.75 gap-y-[5px] max-lg:flex-col max-lg:max-w-[730px] 3xl:absolute 3xl:bottom-[50px] left-0 z-1">
						<div class="flex items-center gap-5 lg:gap-10 border border-stroke-white lg:rounded-[30px] rounded-2xl p-4 lg:p-7.5 justify-between">
							<div class="grid gap-3.25 lg:gap-3.75">
								<p class="typography-p">Для взрослых <br> и детей с 2 лет</p>
							</div>
							<div class="shrink-0 bg-white rounded-full inline-flex items-center justify-center size-10 lg:size-15">
								<svg class="size-5 lg:size-6">
									<use href="assets/img/svg/sprite.svg#icon-smile"></use>
								</svg>
							</div>
						</div>
						<div class="flex items-center gap-5 lg:gap-10 border border-stroke-white lg:rounded-[30px] rounded-2xl p-4 lg:p-7.5 justify-between">
							<div class="grid gap-3.25 lg:gap-3.75">
								<p class="typography-p">Не содержит спирта, <br> сахара и консервантов</p>
							</div>
							<div class="shrink-0 bg-white rounded-full inline-flex items-center justify-center size-10 lg:size-15">
								<svg class="size-5 lg:size-6">
									<use href="assets/img/svg/sprite.svg#icon-forbidden"></use>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>


		<div class="flex items-center gap-2.5 justify-between absolute top-1/2 -translate-y-1/2 left-0 w-full p-5 max-lg:hidden">
			<button type="button" class="slider-arrow" data-prev="main" aria-label="Предыдущий слайд">
				<svg class="rotate-180">
					<use href="assets/img/svg/sprite.svg#icon-arrow-right"></use>
				</svg>
			</button>
			<button type="button" class="slider-arrow" data-next="main" aria-label="Следующий слайд">
				<svg>
					<use href="assets/img/svg/sprite.svg#icon-arrow-right"></use>
				</svg>
			</button>
		</div>


		<div class="scroll absolute bottom-5 lg:bottom-10 left-1/2 -translate-1/2 data-hidden:hidden" data-paggination="main"></div>
	</div>
</section>