<section class="py-20 md:py-35">
	<div class="container-base grid gap-7.5 md:gap-12.5">
		<div class="pb-7.5 md:pb-10 bottom-deco-line flex justify-between items-start max-lg:flex-col gap-3.5">
			<h2><mark>Статьи</mark> о кашле и лечении</h2>
			<a class="btn btn-green btn-small max-lg:hidden" href="#">Смотреть все статьи</a>
			<a class="link link-icon typography-psm whitespace-nowrap justify-self-start lg:hidden">
				Все статьи
				<svg class="text-green size-5">
					<use href="assets/img/svg/sprite.svg#icon-chevron-right"></use>
				</svg>
			</a>
		</div>
		<div class="grid gap-7.5 md:gap-10">

			<div class="overflow-hidden -m-10 p-10" data-slider="news">
				<div class="-ml-3.75 md:-ml-2.5">
					<div class="w-[331px] min-w-0 shrink-0 pl-2.5 md:w-[560px] md:pl-3.75">
						<div class="news-card group/card">
							<div class="news-card-main">
								<a class="news-card-image" href="#">
									<img src="assets/img/content/news-1.avif" alt="Виды кашля: как правильно определить тип и выбрать лечение" loading="lazy" />
									<span class="news-card-badge">2 минуты чтения</span>
								</a>
								<a class="news-card-title transition-colors hover:text-green" href="#">
									<p class="typography-h6">Виды кашля: как правильно определить тип и выбрать лечение</p>
									<svg>
										<use href="assets/img/svg/sprite.svg#icon-chevron-right"></use>
									</svg>
								</a>
							</div>
							<p class="news-card-text text-gray">
								Кашель — знакомая проблема, поражающая взрослых и детей, особенно в холодные сезоны.
								Правильное лечение зависит от определения типа по характеру, продолжительности и
								интенсивности.
							</p>
						</div>
					</div>

					<div class="w-[331px] min-w-0 shrink-0 pl-2.5 md:w-[560px] md:pl-3.75">
						<div class="news-card group/card">
							<div class="news-card-main">
								<a class="news-card-image" href="#">
									<img src="assets/img/content/news-2.avif" alt="Простые техники для предотвращения приступов ночного кашля у взрослого" loading="lazy" />
									<span class="news-card-badge">2 минуты чтения</span>
								</a>
								<a class="news-card-title transition-colors hover:text-green" href="#">
									<p class="typography-h6">
										Простые техники для предотвращения приступов ночного кашля у взрослого
									</p>
									<svg>
										<use href="assets/img/svg/sprite.svg#icon-chevron-right"></use>
									</svg>
								</a>
							</div>
							<p class="news-card-text text-gray">
								Ночной кашель нарушает сон и снижает качество жизни взрослых. Понимание его причин и
								методов облегчения помогает вернуть нормальный отдых.
							</p>
						</div>
					</div>

					<div class="w-[331px] min-w-0 shrink-0 pl-2.5 md:w-[560px] md:pl-3.75">
						<div class="news-card group/card">
							<div class="news-card-main">
								<a class="news-card-image" href="#">
									<img src="assets/img/content/news-3.avif" alt="Эффективные методы лечения кашля у ребёнка: советы и рекомендации" loading="lazy" />
									<span class="news-card-badge">2 минуты чтения</span>
								</a>
								<a class="news-card-title transition-colors hover:text-green" href="#">
									<p class="typography-h6">
										Эффективные методы лечения кашля у ребёнка: советы и рекомендации
									</p>
									<svg>
										<use href="assets/img/svg/sprite.svg#icon-chevron-right"></use>
									</svg>
								</a>
							</div>
							<p class="news-card-text text-gray">
								Детский кашель значительно отличается от взрослого по причинам, характеру и подходам
								к лечению. Понимание этих различий помогает принимать правильные решения.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="scroll justify-center data-[hidden]:hidden" data-paggination="news"></div>
		</div>
	</div>
</section>