<section class="py-20 md:py-35 bg-white">
	<div class="container-base grid gap-7.5 md:gap-12.5">
		<div class="pb-7.5 md:pb-10 bottom-deco-line">
			<h2><mark>Геделикс®</mark> в аптеках и онлайн</h2>
		</div>

		<div class="grid gap-7.5">
			<div class="partners-grid grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2.5 md:gap-3.75">
				<div class="partner-card">
					<img src="assets/img/content/partner-1.avif" alt="ASNA.RU" />
				</div>
				<div class="partner-card">
					<img src="assets/img/content/partner-2.avif" alt="Столички Аптеки" />
				</div>
				<div class="partner-card">
					<img src="assets/img/content/partner-3.avif" alt="Здрасити.ру" />
				</div>
				<div class="partner-card">
					<img src="assets/img/content/partner-4.avif" alt="AptStore" />
				</div>
				<div class="partner-card">
					<img src="assets/img/content/partner-5.avif" alt="AptekaMos.ru" />
				</div>
				<div class="partner-card">
					<img src="assets/img/content/partner-6.avif" alt="ЗДОРОВ.ру" />
				</div>
				<div class="partner-card">
					<img src="assets/img/content/partner-7.avif" alt="Планета Здоровья" />
				</div>
				<div class="partner-card">
					<img src="assets/img/content/partner-8.avif" alt="ВИТА" />
				</div>
			</div>

			<a class="btn btn-dark btn-arrow mx-auto whitespace-nowrap" href="/where.html">
				Показать ещё
				<div>
					<svg class="size-6">
						<use href="assets/img/svg/sprite.svg#icon-arrow-right"></use>
					</svg>
				</div>
			</a>
		</div>
	</div>
</section>