<section class="py-20 md:py-35 bg-white" data-spoiler>
	<div class="container-base grid gap-7.5 md:gap-12.5" data-spoiler-item aria-expanded="false">
		<button class="pb-7.5 md:pb-10 bottom-deco-line flex justify-between gap-10 text-gray" type="button" data-spoiler-button>
			<p class="typography-small-m inline-flex gap-2.5 items-center">
				<svg class="size-6">
					<use href="assets/img/svg/sprite.svg#icon-book"></use>
				</svg>
				Источники
			</p>
			<svg class="size-7">
				<use href="assets/img/svg/sprite.svg#icon-minus"></use>
			</svg>
		</button>
		<div data-spoiler-content>
			<ol class="grid gap-2.5 md:gap-3.75 text-gray list-decimal list-inside">
				<li><a class="link link-gray" href="#">Геделикс® сироп 100мл является объемообразующим в линейке бренда Геделикс®. Данные АО "Группа ДСМ", Июн'26</a></li>
				<li><a class="link link-gray" href="#">Большая упаковка Геделикс® СИРОП 200мл выгоднее на 19%* по сравнению с Геделикс® СИРОП 100мл в пересчете на 1мл фактической цены Прайс-листа, Авг’26</a></li>
				<li><a class="link link-gray" href="#">Согласно листку‑вкладышу (№ (004526)-(РГ‑RU) от 07.02.2024) препарат не содержит сахар, спирт и красители.</a></li>
				<li><a class="link link-gray" href="#">Компонент экстракт плюща включен в клинические рекомендации — Бронхит — 2024‑2025‑2025 (19.12.2024) для детей — «Острый бронхит» для взрослых 2024 — Утверждены Минздравом РФ</a></li>
				<li><a class="link link-gray" href="#">Инструкция по медицинскому применению лекарственного препарата Геделикс® (капли для приёма внутрь). ЛП-№(005437)-(РГ-RU). — М., 2024.</a></li>
			</ol>
		</div>
	</div>
</section>