<section class="py-20 md:py-35 bg-white">
	<div class="container-base grid gap-7.5 md:gap-12.5">
		<div class="pb-7.5 md:pb-10 bottom-deco-line flex justify-between gap-10 text-gray">
			<p class="typography-small-m inline-flex gap-2.5 items-center">
				<svg class="size-6">
					<use href="assets/img/svg/sprite.svg#icon-book"></use>
				</svg>
				Источники
			</p>
			<svg class="size-7">
				<use href="assets/img/svg/sprite.svg#icon-minus"></use>
			</svg>
		</div>
		<!-- TODO: Доделать разворачивание списка. -->
		<div class="grid gap-7.5">
			<ol class="grid gap-2.5 md:gap-3.75 text-gray list-decimal list-inside">
				<li><a class="link link-gray" href="#">Государственный реестр лекарственных средств. Регистрационное удостоверение Геделикс® сироп ЛП-№(004526)-(РГ-RU) от 07.02.2024. URL: grls.rosminzdrav.ru</a></li>
				<li><a class="link link-gray" href="#">Государственный реестр лекарственных средств. Регистрационное удостоверение Геделикс® капли ЛП-№(005437)-(РГ-RU) от 30.09.2024. URL: grls.rosminzdrav.ru</a></li>
				<li><a class="link link-gray" href="#">Клинические рекомендации «Острый бронхит» / Министерство здравоохранения РФ. — 2023.</a></li>
				<li><a class="link link-gray" href="#">Клинические рекомендации «Острые респираторные вирусные инфекции (ОРВИ) у взрослых» / Министерство здравоохранения РФ. — 2021.</a></li>
				<li><a class="link link-gray" href="#">Зайцева О.В., Зайцева С.В. Современный взгляд на терапию кашля у детей: место препаратов плюща // Педиатрия. Журнал им. Г.Н. Сперанского. — 2019. — Т. 98, № 3. — С. 149–157.</a></li>
				<li><a class="link link-gray" href="#">Holzinger F., Chenot J.F. Systematic review of clinical trials assessing the effectiveness of ivy leaf (Hedera helix) for acute upper respiratory tract infections // Evidence-Based Complementary and Alternative Medicine. — 2011. — Vol. 2011. — P. 382789.</a></li>
				<li><a class="link link-gray" href="#">Kardos P. et al. Müsli-Studie: Effizienz und Verträglichkeit von Hedelix-Hustensirup // Phytomedicine. — 2003. — Vol. 10. — Suppl. 4. — P. 35.</a></li>
				<li><a class="link link-gray" href="#">Wichtl M. Herbal Drugs and Phytopharmaceuticals. A Handbook for Practice on a Scientific Basis. — 3rd ed. — Stuttgart: Medpharm Scientific Publishers, 2004. — P. 261–264.</a></li>
				<li><a class="link link-gray" href="#">Инструкция по медицинскому применению лекарственного препарата Геделикс® (сироп). ЛП-№(004526)-(РГ-RU). — М., 2024.</a></li>
				<li><a class="link link-gray" href="#">Инструкция по медицинскому применению лекарственного препарата Геделикс® (капли для приёма внутрь). ЛП-№(005437)-(РГ-RU). — М., 2024.</a></li>
			</ol>
			<button type="button" class="link link-icon typography-small-m whitespace-nowrap justify-self-start">
				Инструкция
				<svg class="text-green size-2.5">
					<use href="assets/img/svg/sprite.svg#icon-chevron-menu"></use>
				</svg>
			</button>
		</div>
	</div>
</section>