@utility typography-display {
  font-size: var(--text-display);
  line-height: var(--leading-display);
  font-weight: var(--font-display);
}

@utility typography-h1 {
  font-size: var(--text-h1);
  line-height: var(--leading-h1);
  font-weight: var(--font-h1);
}

@utility typography-h2 {
  font-size: var(--text-h2);
  line-height: var(--leading-h2);
  font-weight: var(--font-h2);
}

@utility typography-h3 {
  font-size: var(--text-h3);
  line-height: var(--leading-h3);
  font-weight: var(--font-h3);
}

@utility typography-h4 {
  font-size: var(--text-h4);
  line-height: var(--leading-h4);
  font-weight: var(--font-h4);
}

@utility typography-h5 {
  font-size: var(--text-h5);
  line-height: var(--leading-h5);
  font-weight: var(--font-h5);
}

@utility typography-h6 {
  font-size: var(--text-h6);
  line-height: var(--leading-h6);
  font-weight: var(--font-h6);
}

@utility typography-p {
  font-size: var(--text-p);
  line-height: var(--leading-p);
  font-weight: var(--font-p);
}

@utility typography-p-semibold {
  font-size: var(--text-p-semibold);
  line-height: var(--leading-p-semibold);
  font-weight: var(--font-p-semibold);
}

@utility typography-small {
  font-size: var(--text-small);
  line-height: var(--leading-small);
  font-weight: var(--font-small);
}

@utility typography-small-m {
  font-size: var(--text-small-m);
  line-height: var(--leading-small-m);
  font-weight: var(--font-small-m);
}

@layer base {
  h1 {
    @apply typography-h1;
  }

  h2 {
    @apply typography-h2;
  }

  h3 {
    @apply typography-h3;
  }

  h4 {
    @apply typography-h4;
  }

  h5 {
    @apply typography-h5;
  }

  h6 {
    @apply typography-h6;
  }

  p {
    @apply typography-p;
  }
}
