:root {
  --white: #ffffff;
  --green-dark: #17400c;
  --green: #24820a;
  --orange: #fc9a08;
  --red: #f64f19;
  --black: #07260b;
  --bg: #f2f9ee;
  --gray: #767676;
  --stroke-white: #e6e6e6;
  --stroke-green: #d6dfd1;
}

@theme inline {
  --color-*: initial;

  --color-white: var(--white);
  --color-green-dark: var(--green-dark);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --color-red: var(--red);
  --color-black: var(--black);
  --color-bg: var(--bg);
  --color-gray: var(--gray);
  --color-stroke-white: var(--stroke-white);
  --color-stroke-green: var(--stroke-green);
}
